<h1><%=@book.title%> (<%=@book.pages%> pages)</h1>
<br>
<h2>Authors:</h2>
<ul>
<% @book.authors.each do |author| %>
    <li><%= link_to "#{author.name} (b. #{author.birth_year})", author_path(author) %><br>
    <%= button_to "Remove author", "/author_books/#{@book.id}/#{author.id}", method: :delete %></li>
<% end %>
</ul>
<%= form_for @author_book do |f| %>
    <%= f.hidden_field :book_id, value: @book.id %>
    <%= f.label :author %>
    <%= f.collection_select :author_id, Author.all, :id, :name %>
    <%= f.submit "Add Author" %>
    <% end %>

